.page-btn{
    background-color: #f8f9fa;
    color: #000;
    border: 1px solid #dee2e6;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.page-btn:hover{
    background-color: #e9ecef;
}

.page-btn.active{
    background-color: #007bff;
    color: #fff;
}